<p>We will try to resolve your query shortly</p>


<div class="container">
  <div class="jumbotron">


    <div class="container">
      <div class="jumbotron">
        <h3>Apna Helper Team</h3>

        <p>  hi <%= @contactus.fname %> , We go through your problem and try to resolve it early </p>
    <br/>




<p> Message &nbsp; : &nbsp; &nbsp; <%= @contactus.description %> </p>
      </div>
    </div>
<br/>
<p> Thankyou </p>

  </div>
</div>

<p>Have a good day !!! </p>
