

.bodyindex{
  margin: 0 auto;
  background-image: url("../images/specs.jpg");
  background-repeat: no-repeat;
  background-size: 100% 720px;
  opacity: 0.8;
    filter: alpha(opacity=80);
}


/*#hero {
  background-image: url("../images/bulb.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  top:0;
  bottom:0;
  height: 100vh;
  z-index : -10;
} */



/*
img{
  width : 100%;
  background-position : 50% 50%;
  background-size : cover;
  opacity: 0.9;
  filter: alpha(opacity=10);
} */


#featured .item {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
}

.carousel-inner > .item {

    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

footer .navbar-default {
  background: transparent;
}

.col-sm-6 {
    width: 50%;
    padding-top:150px;
}


.first{
  padding-top: 100px;
}
