<%= error_messages_for(@helperreq) %>


<div class="row">
    <div class="container fluid">

              <section class="col-sm-8 first">

                 <header>
                   <div class="welcome">
                     <h1>Welcome To TheHelpers <br> &nbsp; we are here to help you  </h1>
                   <div>
                 </header>
                   <button id="boo" class="btn btn-primary" data-toggle="modal" data-target="#policy">
                     Let's Start!!
                   </button>


  <!-- Modal form -->   <div class="modal fade"  id="policy" tabindex="-1" data-keyboard="false" role="dialog"
                          aria-labelledby="modalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close"
                                  data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                                <h3 class="modal-title" id="modalLabel"> It just takes few seconds
                                  !!! </h3>
                                </div> <!-- modal header -->

                                  <div class="modal-body">

                                    <%= form_for(:helperreq, :url => {:action => 'create'}) do |f| %>

                                     <%= render(:partial => "form2", :locals => {:f =>f}) %>


                                      <div class="checkbox">
                                          <label>
                                            <input
                                              type="checkbox" required > I accept<a href="#" > helpers terms and conditions</a>
                                          </label>
                                      </div>

                                      <div class="btn btn-default" id="confirmbook">
                                        <%= submit_tag('Confirm Booking') %>
                                      </div>

                                    <% end %>

                                  </div> <!-- modal body -->
                            </div><!-- modal content -->
                          </div><!-- modal dialog -->
                        </div><!-- modal -->

          </section>

<!--   <section class="col-sm-8">
     <div class="item"> <img src="images/sticky.jpg" alt="boy"> </div>
   </section> -->

  </div> <!-- container fluid -->
 </div><!--  row -->
