<%= link_to("<< Back to List", {:action => 'index' , :helper_table_id => @helpertable.id}, :class => 'back-link') %>

<div class="pages edit">
  <h2>Update Page</h2>

  <%= form_for(:helperlist, :url => {:action => 'update', :id => @helperlist.id , :helper_table_id => @helpertable.id}) do |f| %>

  <%= render(:partial => "form", :locals => {:f =>f}) %>

    <div class="form-buttons">
      <%= submit_tag("Update Entry") %>
    </div>

  <% end %>
</div>
