// Place all the styles related to the HelperRequest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome{
  font-family:tahoma;
  color:white;
  position:absolute;
  top:20px;
  left:180px;
  transform: translate(-50%,-50%);
}

#boo{
  position:absolute;
  top:30px;
  left:0px;
  border: 1px solid #e67e22;
  padding: 5px 30px;
  margin-top:50px;
  border-radius:12px;

}

#policy{
  color: #4B515D;
}

#boo:hover{
  transition: all 0.5s ease-in;
    background-color: #e67e22;
}

.bodyindex{
  margin: 0 auto;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),image-url('specs.jpg');
  background-repeat: no-repeat;
  background-size: 100% 720px;
  opacity: 0.8;
    filter: alpha(opacity=80);
  position: relative;
}

.btn{
  border: 0 ;
  padding: 2px 2px;
}

.forposn{
  position: relative;
}

.first{
  position: absolute;
      top: 180px;
}

#featured .item {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
}

.carousel-inner > .item {

    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

footer .navbar-default {
  background: transparent;
}

.col-sm-6 {
    width: 50%;
    padding-top:150px;
}



.footerpos{
padding-top: 270px;
}

.jumbotron h3{
  font-family: Georgia, serif;
}

.jumbotron p{
  font-family: Georgia, serif;
   font-size-adjust: 0.40;
}

.viewtable{
  background: transparent;
  background-color: black;
  background-image: none;
        color: white;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}











// SUMIT WORKS


/* top bar starts */
body, html {
height: 100%;
margin: 0 auto;
}

.bg {
/* The image used */
background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),image-url('specs.jpg');

/* Full height */
height: 100%;

margin:0 auto;

filter: alpha(opacity=800);

/* Center and scale the image nicely */

background-repeat: no-repeat;
background-size: 100% 720px;

}
.top_bar{background:#ffffff; padding:5px 0; opacity: 0.8;}
.blackfont{color:#000000; font-size:16px;} /*this code is used for various font colors */


/* top bar ends */


/* navigation bar starts */

.my_menu1{}

@media (max-width:1200px){
.my_menu1 .pull-right{float:none !important;}

}
.navbar-default{background:#ffffff; border:none;}
.rajnikant{background:#fdfc26;}


body {
position: relative;
}
.affix {
top:0;
width: 100%;
z-index: 9999 !important;
}
.navbar {
margin-bottom: 0px;
}

.affix ~ .container-fluid {
position: relative;
top: 50px;
}
#contactus {padding-top:50px; }
#aboutus {padding-top:50px; }
#section3 {padding-top:50px; }
#section41 {padding-top:50px;}
#section42 {padding-top:50px;}


/* navigation ends */


/* form starts */

.form-control { opacity: 0.9; }

.accentcolor{
color:#fdfc29;
}

.the-headline h3 {
font-size: 15px;
letter-spacing: 1px;
text-transform: uppercase;
font-weight: 300;
margin-top: 20px;
}

.color{background:#b3b3ff;}

/* form ends */

/*    footer starts  */

.index-social{
background-color:#2c2c2c;
color:#fff;
}

.link-area .fa-li{
width:40px;
height:40px;
border-radius:50%;
border:solid 1px #fff;
list-style-type:none;
margin:5px;
display:inline-block;
}

.index-social a{
color:#fff;
font-size:25px;
display:block;
float:left;
padding:10px;
}

.index-link h3{
text-align:center;
color:#f1f1f1;
text-align:left;

}

.index-link{
background-color:#000;
}

.index-link ul{
padding:0px;
}

.index-link ul li{
list-style-type:none;
}

.index-link ul li a{
text-decoration:none;
font-size:16px;
color:#fff;
display:block;
padding:5px 0;
text-align:left;
}

.index-link ul li a:hover{
text-decoration:underline;
}
.colo{color:#f1f1f1;}


.copy-c{
padding-top:15px;
}

/*    end footer     */



/*	 contact us starts	*/

.concol{background:#1E88E5;}

/*	 end of contact us	 */



/*  our services starts */

.box{width:250px; height:200px; border:1px solid #000; border-radius:2px; float:left; margin:20px 30px;  }
.box img{width:250px; height:200px;}
.box .overlay{width:250px; height:200px;  margin:-200px 0px 0px 0px; opacity:0.1; }
.box a{padding:5px 7px; border:1px solid #000; text-decoration:none; font-family:sans-serif; font-size:14px; margin:-140px 0px 0px 15px; display:inline-block; opacity:0; transition:all 0.5s ease-in-out;    cursor: pointer;/* z-index: 10000; */position: absolute;}



.box .overlay:hover{opacity:0.1; transition:all 0.5s ease-in-out; width:300px; margin-left:50px; float:right; }
.box:hover{box-shadow:0px 0px 10px #6A6A6A; border:1px solid #00DFDF;transition:all 0.5s ease-in-out;}
.box:hover a{opacity:1; background:#FFFFFF; color:#000000; margin:-40px 0px 0px 15px;  border-radius:1px; }
.box a:hover{border:1px solid #00DFDF;transition:all 0.5s ease-in-out;   }


h1, .h1 {
font-size: 30px;
}

.colorservice{background:#b3b3ff;}

/* our services ends  */
