<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="subjects edit">
  <h2>Update Profession </h2>

  <%= form_for(:helpertable, :url => {:action => 'update', :id => @helpertable.id}) do |f| %>

    <%= render(:partial => "form", :locals => {:f =>f}) %>


    <div class="form-buttons">
      <%= submit_tag("Update Profession") %>
    </div>

  <% end %>
</div>
