<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="subjects new">
  <h2>Create Profession Information</h2>

  <%= form_for(:helpertable, :url => {:action => 'create'}) do |f| %>

   <%= render(:partial => "form", :locals => {:f =>f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create Profession") %>
    </div>
  <% end %>

</div>
